<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-3">
    <section class="namae">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-6">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
  <div class="col-md-3">
    <iframe src="http://rcm-fe.amazon-adsystem.com/e/cm?t=
    kimi301-22&o=9&p=8&l=as1&asins=4774182702&ref=tf_til&fc1=000000&IS2=1&lt1
    =_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;
    " scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-fe.amazon-adsystem.com/e/cm?t=kimi301-22&o=9&p=8&l=as1&asins=B01GQFEPIA&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    <iframe src="http://rcm-fe.amazon-adsystem.com/e/cm?t=kimi301-22&o=9&p=8&l=as1&asins=4839954097&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>


    <iframe src="http://rcm-fe.amazon-adsystem.com/e/cm?t=kimi301-22&o=9&p=8&l=as1&asins=B01GRD21UA&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>



  </div>
</div>
